@import "/src/styles/_colors";
@import "/src/styles/_variables";

.inputWrap {
    width: 100%;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: $borderRadiusLarge;
    box-shadow: $boxShadowSmall;

    background: var(#{--componentBackgroundDefault});
    transition: $transitionSwitch;
    
    .btnIcon {
        cursor: pointer;
        background: transparent;

        svg {
            width: 28px;
            height: 28px;
        }
    }

    .input {
        width: 100%;
        height: 28px;
        outline: none;

        color: var(#{--textColorDefault});
        background: var(#{--componentBackgroundDefault});
        transition: $transitionSwitch;

        &::placeholder {
            font-family: "Montserrat";
            font-weight: 500;
            color: $textForInsertGray;
        }
    }
}