$baseBlack: #0d1117;
$baseWhite: #fff;

$componentBackgroundGray: #444444;
$textGrayLight: #939cb0;
$insertGrayLight: #939cb0;

$baseBlue: #4793ff;
$baseBlueLight: rgba($baseBlue, 0.2);



$bodyBackgroundDark: #1e1e1e;
$bodyBackgroundLight: #fff;

$componentBackgroundDark: #444444;
$componentBackgroundLight: #fff;

$cardBackgroundDark: #2e3035;
$cardBackgroundLight: rgb(#4793ff, 0.2);

$switchBackgroundDark: #2e3035;
$switchBackgroundLight: #939cb0;

$shadowDark: 10px 10px 4px 0 #0d1117;
$shadowLight: 10px 10px 4px 0 rgba(#0d1117, 0.5);

$textColorDark: #fff;
$textColorLight: #0d1117;

:root {
    // bodyBackground
    --bodyBackgroundDark: #{$bodyBackgroundDark};
    --bodyBackgroundLight: #{$bodyBackgroundLight};
    --bodyBackgroundDefault: var(#{--bodyBackgroundLight});

    // componentsBackground
    --componentBackgroundDark: #{$componentBackgroundDark};
    --componentBackgroundLight: #{$componentBackgroundLight};
    --componentBackgroundDefault: var(#{--componentBackgroundLight});

    // cardBackground
    --cardBackgroundDark: #{$cardBackgroundDark};
    --cardBackgroundLight: #{$cardBackgroundLight};
    --cardBackgroundDefault: var(#{--cardBackgroundLight});

    // switchBackground
    --switchBackgroundDark: #{$switchBackgroundDark};
    --switchBackgroundLight: #{$switchBackgroundLight};
    --switchBackgroundDefault: var(#{--switchBackgroundLight});

    // shadow
    --shadowDark: #{$shadowDark};
    --shadowLight: #{$shadowLight};
    --shadowDefault: var(#{--shadowLight});

    // text
    --textColorDark: #{$textColorDark};
    --textColorLight: #{$textColorLight};
    --textColorDefault: var(#{--textColorLight});
}