$baseBlack: #172029;
$baseWhite: #fff;
$baseBrand: #0073e6;
$baseBrandLight1: #99c7f5;
$baseBrandLight2: #e6f1fc;
$baseBrandLight3: #f2f6fa;
$baseGray: #808080;
$baseGrayLight1: #f2f2f2;
$baseAccent: #fabc22;
$baseFocus: #ed2c19;


$backgroundHoverSecBtn: mix(#e6f1fc, rgba(0, 115, 230, 0.5));
$backgroundHoverPrimBtn: mix(#0073e6, rgba(255, 255, 255, 0.2));
$backgroundActivePrimBtn: mix(#0073e6, rgba(0, 0, 0, 0.8));