@import "_colors";

$boxShadowContainer: 0 0 30px 0 rgba($baseBlack, 0.15);
$boxShadowSmallEl: 0px 0px 5px rgba($baseBlack, 0.4);

$transitionHover: 0.3s ease;

$baseFontSize: 16px;
$mobileFontSize: 14px;

$textShadow: 
    0.2px 0.2px 1.5px rgba(0, 0, 0, 0.355),
    -0.2px -0.2px 1.5px rgba(0, 0, 0, 0.355),
    0.2px -0.2px 1.5px rgba(0, 0, 0, 0.355),
    -0.2px 0.2px 1.5px rgba(0, 0, 0, 0.355);

$textShadowSlim: 
    0.1px 0.1px 1px rgba($baseBrand, 0.355),
    -0.1px -0.1px 1px rgba($baseBrand, 0.355),
    0.1px -0.1px 1px rgba($baseBrand, 0.355),
    -0.1px 0.1px 1px rgba($baseBrand, 0.355);