@import "_colors";

$boxShadowSmall: 0px 0px 5px rgba($baseBlack, 0.4);

$fontSizeLargeDesktop: 36px;
$fontSizeMediumDesktop: 18px;
$fontSizeSmallDesktop: 14px;

$baseFontSizeDesktop: 16px;
$baseFontSizeMobile: 14px;

$baseBorder: 2px solid rgba($baseBlack, 0.5);

$borderRadiusLarge: 36px;
$borderRadiusMedium: 20px;
$borderRadiusSmall: 12px;

$transitionSwitch: 0.4s ease;