@import "/src/styles/_colors";
@import "/src/styles/_variables";

.weatherWidget {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px;

        .searchPanel {
            display: flex;
            gap: 15px;
        }
    }

    .forecast {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .current {
            display: flex;
            justify-content: space-between;
            gap: 50px;
        }
    }
}

.error {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: var(#{--textErrorDefault});
    transition: $transitionSwitch;
}