@import "/src/styles/_colors";
@import "/src/styles/_variables";

.button {
    cursor: pointer;
    width: 100%;
    padding: 16px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    border-radius: $borderRadiusLarge;
    box-shadow: $boxShadowSmall;
    color: $baseGrayLight1;

    background: var(#{--componentBackgroundDefault});
    transition: $transitionSwitch;

    &:hover {
        color: $baseBlue;
    }

    &:active {
        background: rgba(71, 147, 255, 0.4);
    }
}