@import "/src/styles/_colors";
@import "/src/styles/_variables";

.button {
    cursor: pointer;
    width: 100%;
    padding: 8px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: $borderRadiusLarge;
    box-shadow: $boxShadowSmall;
    color: $textForInsertGray;

    background: var(#{--componentBackgroundDefault});
    transition: $transitionSwitch;

    &:hover {
        color: $textForCommonBlack;
        background: $backgroundForCommonGreen;
    }

    &:active {
        color: $textForCommonBlack;
        background: rgba($backgroundForCommonGreen, 0.6);
    }
    
    svg {
        width: 28px;
        height: 28px;
    }
}