@import "/src/styles/_colors";
@import "/src/styles/_variables";

.dateBlock {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    .dayWeek,
    .currentTime {
        font-size: $fontSizeLargeDesktop;
    }

    .day {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .currentDate {
            color: $textForCommonGray;
        }
    }
}

@media (max-width: 850px) {

    .dateBlock {
        
        .dayWeek,
        .currentTime {
            font-size: $fontSizeLargeMobile;
        }
    }
}