@import "/src/styles/_colors";
@import "/src/styles/_variables";

.currentDay {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border: 2px solid rgba($baseBlack, 0.5);
    border-radius: $borderRadiusLarge;
    box-shadow: var(#{--shadowDefault});;
    background: var(#{--componentBackgroundDefault});
    color: var(#{--textColorDefault});
    transition: $transitionSwitch;

    display: flex;
    flex-direction: column;
    gap: 18px;

    .upperPart {
        width: fit-content;
        padding: 8px 16px;
        background: $baseBlueLight;
        border-radius: $borderRadiusMedium;

        display: flex;
        align-items: center;
        gap: 16px;

        svg {
            path {
                fill: var(#{--textColorDefault});
                transition: $transitionSwitch;
            }
        }
    }

    .middlePart {
        width: 100%;

        display: flex;
        justify-content: space-between;
        gap: 50px;

        .day {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .weekDay {
                font-size: $fontSizeLargeDesktop;
            }
    
            .date {
                font-size: $fontSizeSmallDesktop;
                color: $baseGrayLight1;
            }
        }

        .localTime {
            font-size: $fontSizeLargeDesktop;
        }
    }

    .lowerPart {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        svg {
            width: 125px;
            height: 125px;
            min-width: 90px;
            min-height: 90px;

            /* border-radius: 100%;
            background: $baseGrayLight3;
            box-shadow: $boxShadowContainer; */
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            .temp {

                .dayTemp {
                    text-align: right;
                    font-size: $fontSizeLargeDesktop;
                }
    
                .nightTemp {
                    text-align: right;
                    font-size: $fontSizeMediumDesktop;
                    color: $baseGrayLight1;
                }
            }

            .tempFeelsLike,
            .phenomena {
                text-align: right;
                font-size: $fontSizeSmallDesktop;
            }
        }
    }
}

@media (max-width: 767px) {

    .currentDay {
        max-width: 350px;
        padding: 18px;
    
        .middlePart {
    
            .day {
    
                .weekDay {
                    font-size: $fontSizeLargeMobile;
                }
        
                .date {
                    font-size: $fontSizeSmallMobile;
                }
            }
    
            .localTime {
                font-size: $fontSizeLargeMobile;
            }
        }
    
        .lowerPart {
    
            .description {
    
                .temp {
    
                    .dayTemp {
                        font-size: $fontSizeLargeMobile;
                    }
        
                    .nightTemp {
                        font-size: $fontSizeMediumMobile;
                    }
                }
    
                .tempFeelsLike,
                .phenomena {
                    font-size: $fontSizeSmallMobile;
                }
            }
        }
    }
}