@import "/src/styles/_colors";
@import "/src/styles/_variables";

.lineDays {
    width: 100%;
    padding: 20px;
    border-radius: $borderRadiusMedium;

    box-shadow: var(#{--shadowDefault});
    background: var(#{--componentBackgroundDefault});
    transition: $transitionSwitch;

    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 600px) {

    .lineDays {
        flex-wrap: wrap;
    }
}