@import "/src/styles/_colors";
@import "/src/styles/_variables";

.footer {

    .footerContainer {
        min-height: 38px;
        margin: 0 auto;
        box-sizing: content-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px;
    }
}

@media (max-width: 850px) {

    .footer {
        display: none;
    }
}