@import "/src/styles/_colors";
@import "/src/styles/_variables";

.currentDay {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border: $baseBorder;
    border-radius: $borderRadiusMedium;
    font-size: $fontSizeMediumDesktop;

    box-shadow: var(#{--shadowDefault});
    background: var(#{--componentBackgroundDefault});
    color: var(#{--textColorDefault});
    transition: $transitionSwitch;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media (max-width: 850px) {

    .currentDay {
        max-width: none;
        font-size: $fontSizeMediumMobile;
    }
}