@import "/src/styles/_colors";
@import "/src/styles/_variables";

.currentDay {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border: 2px solid rgba($baseBlack, 0.5);
    border-radius: $borderRadiusLarge;
    font-size: $fontSizeSmallDesktop;

    box-shadow: var(#{--shadowDefault});
    background: var(#{--componentBackgroundDefault});
    color: var(#{--textColorDefault});
    transition: $transitionSwitch;

    display: flex;
    flex-direction: column;
    gap: 18px;

    .dayTemp,
    .localTime,
    .weekDay {
        font-size: $fontSizeLargeDesktop;
    }

    .nightTemp,
    .date {
        color: $baseGrayLight1;
    }

    .upperPart {
        width: fit-content;
        padding: 8px 16px;
        background: $baseBlueLight;
        border-radius: $borderRadiusMedium;

        display: flex;
        align-items: center;
        gap: 16px;

        svg {
            path {
                fill: var(#{--textColorDefault});
                transition: $transitionSwitch;
            }
        }
    }

    .middlePart {
        display: flex;
        justify-content: space-between;
        gap: 50px;

        .day {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .lowerPart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        svg {
            width: 125px;
            height: 125px;
            min-width: 90px;
            min-height: 90px;
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            text-align: right;
        }
    }
}